name: Build Solution

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install MAUI workload
        run: dotnet workload install maui-maccatalyst

      - name: Restore NuGet packages
        run: dotnet restore 
        
      - name: Build app
        run: dotnet build Matchquest.App/MatchQuest.App.csproj --configuration Release --no-restore --framework net10.0-maccatalyst /p:ApplicationId=nl.windesheim.matchquest

      - name: Build solution
        run: dotnet build MatchQuest.sln --configuration Release --no-restore --runtime win-x64
